@import "settings";
@import "foundation.scss";

$baseBlu: #009ee0;
$evidence-color: #ffed00 !default;


$ctaButton-header-color: $evidence-color !default;
$ctaButton-radius: 10px !default;
.ctaButton {
    @include button($padding:$button-med, $bg:$ctaButton-header-color, $radius:$ctaButton-radius, $full-width:true, $disabled:false, $is-prefix:false);
    color: #000;
    font-size: em-calc(25);
}

.border-top {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: $hr-border-color;
    margin-top: $hr-margin;
    margin-bottom: $hr-margin;
}

.border {
  border-style: solid;
  border-width: 1px;
  border-color: $hr-border-color;
  padding-top: 10px;
  padding-bottom: 10px;
}

.margin {
    margin-top: em-calc(10);
}

.price {
        font-size: rem-calc(25);
        padding-top: em-calc(3);
        padding-bottom: em-calc(3);
        color: #888;
        margin-bottom: em-calc(20);
}

.white {
  color: #fff
}

.my-orbit-caption {
    @extend .orbit-caption;
    @if $orbit-caption-position == "top" {
        position: absolute;
        top: 0;
    }
}


//BOX
$boxWithImage-has-border: yes !default;
$boxWithImage-border-color: darken($panel-bg, 2%) !default;
$boxWithImage-margin: rem-calc(10) !default;
$boxWithImage-padding-bottom: rem-calc(10) !default;
$boxWithImage-padding-top: rem-calc(0) !default;

$boxWithImage-has-shadow: yes !default;
$boxWithImage-hshadow-size: rem-calc(1) !default;
$boxWithImage-vshadow-size: rem-calc(1) !default;
$boxWithImage-blur-size: rem-calc(1) !default;
$boxWithImage-shadow-color: #888888 !default;

$p-li-fontStyle: normal !default;

.boxWithImage {
    @include grid-row;

    @if $boxWithImage-has-shadow == yes {
        border-style: solid;
        border-width: 1px;
        border-color: $boxWithImage-border-color;
    }

    margin-top: $boxWithImage-margin;
    margin-bottom: $boxWithImage-margin;
    padding-bottom: $boxWithImage-padding-bottom;
    padding-top: $boxWithImage-padding-top;

    @if $boxWithImage-has-shadow == yes {
        -moz-box-shadow: 0 0 $boxWithImage-blur-size $boxWithImage-shadow-color;
        -webkit-box-shadow: 0 0 $boxWithImage-blur-size$boxWithImage-shadow-color;
        box-shadow: 0 0 $boxWithImage-blur-size $boxWithImage-shadow-color;
    }


        .mainContent {
            @include grid-column($total-columns);

            .title {
                @include grid-row;;
                div {
                    @include grid-column(12);
                }
            }

            .body {
                @include grid-row;

                @media #{$small} {
                    @for $i from 1 through $total-columns {
                        .large-left#{-$i} { @include grid-column($columns:$i,$collapse:null,$float:false); }
                        .large-right#{-$i} { @include grid-column($columns:$i,$collapse:null,$float:false); }
                    }
                }

                p, li {
                    font-size: ($base-font-size - 3);
                    font-style: $p-li-fontStyle;
                }
            }
        }

}

$wufoo-columns: 4 !default;
$wufoo-has-border: yes !default;
$wufoo-border-color: darken($panel-bg, 20%) !default;
$wufoo-header-color: $ctaButton-header-color !default;
$wufoo-header-margin-top: rem-calc(12) !default;
$wufoo-header-padding-bottom: rem-calc(12) !default;


.wufooNew {
    @media #{$small} {
        @include grid-column(6);
    }

    @if $wufoo-has-border == yes {
      border-style: solid;
      border-width: 1px;
      border-color: $wufoo-border-color;
      box-shadow: 3px 3px 6px $wufoo-border-color;
    }

    .header {
      margin-top: $wufoo-header-margin-top;
      background-color: $wufoo-header-color;
      text-align: center;
      padding-top: $wufoo-header-padding-bottom;
      padding-bottom: $wufoo-header-padding-bottom;
      font-weight: bold;
      color: #000000;
      .big {
        font-size: rem-calc(19);
      }
      .medium {
        font-size: rem-calc(18);
      }
      .small {
        font-size: rem-calc(15);
      }

    }
  }

  $numeroVerde-color: #008a2e !default;

  div.box_nverde {
    text-align: center;
    line-height: em-calc(35px);
    font-size: em-calc(18px);
    color: $numeroVerde-color;
    margin-bottom: em-calc(18px);
    .numero {
        font-size: em-calc(28px);
    }
}

.medium {
    p {
        font-size: rem-calc(15);
    }

}

.blog-metadata{
    margin-bottom: rem-calc(10px);
    font-size: 80%;
    font-style: italic;
}

.index {
  img {
    padding-bottom: rem-calc(0px);
  }
}


.abstract{
        font-style: italic;
        color: scale-color($body-font-color, $lightness: 35%);
        margin-top: rem-calc(10px);
    }

.blog {
    .padding {
        padding-bottom: rem-calc(20px);
    }
    h3 {
      font-size: 140%;
    }

}

$rosso-color: #FF0A0A !default;
.over {
top: 250px;
left: 20px;
position: absolute;
padding: em-calc(10px);
background-color: rgba(255, 255, 255, 0.8);
color: $rosso-color;
    h1  {
        font-weight: bold;
        font-size: em-calc(38px);
        span {
        color: $rosso-color;
        }
    }

    h2  {
        font-weight: bold;
        font-size: em-calc(25px);
        span {
        color: $rosso-color;
        }
    }
}

.slide {
        padding-bottom: rem-calc(10px);
        .over {
          top: 350px;
        }
    }

ul.small {
  p, li {
    font-size: 105%;
  }
}

.menu {
  margin-top: rem-calc(2px);
  img {
    padding-top: rem-calc(4px);
  }

  span {
    position: relative;
    top: 12px;
  }
}

.bookpanel {
  background-color: $evidence-color;
}

h2 {
  a {
    color: #000
  }
}